body { font-family: sans-serif; color:#444444; }
input { font-size:120%; margin-bottom:8px;}
td { border-bottom:1px solid #e0e0e0; padding:3px;}

a:link {color: SteelBlue;text-decoration: none; opacity:1; }
a:visited {color: SteelBlue;text-decoration: none; opacity:1; }
a:hover {color: SteelBlue;text-decoration: none; opacity:0.7; } /* underlineなしにする */

.btn { color: SteelBlue; cursor:pointer;}
.history { color: DeepPink; cursor:pointer;}
.detail{ background-color:#f0f0f0;
        padding:7px;
        margin:10px;
        -webkit-border-radius:7px; }
.code { font-family:Osaka-Mono,Osaka,monospace; }

.s60 { font-size:60%;}
.s80 { font-size:80%;}
.s120 { font-size:120%;}
.s150 { font-size:150%;}
.s170 { font-size:170%;}
.s200 { font-size:200%;}

.bold { font-weight:bold;}
.gray { color:gray;}
.pink { color:DeepPink;}
.silver { color:silver;}

.hide { display:none;}

.underline { border-bottom:1px solid silver;}
.m10 { margin:10px;}
.p10 { padding:10px;}
